<!DOCTYPE html>
<html>
    <head>
        <title>EPyTodo</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        <header>
            <div id="header">
                <div>
                    <h1 class="title">EPyTodo - To-do list</h1>
                </div>
                <div>
                    {% if username == None %}
                    <button id="login" class="button" onclick="show_page('/login_page', 'content')">Log in</button>
                    <button id="signup" class="button" onclick="show_page('/signup_page', 'content')">Sign up</button>
                    {% else %}
                    <button id="logout" class="button" onclick="signout_user()">Sign out</button>
                    {% endif %}
                </div>
            </div>
            <hr />
        </header>
        {% if username == None %}
        <p class="section_title">
            Welcome to our Epitech's To-do list !<br />
            Here you can add and handle your task as you want.
        </p>
        <div id="content"></div>
        {% else %}
        <div id="user_section">
            <div id="left_section">
                <div id="task_section">
                    <p id="welcome_user" class="section_title">
                        Welcome {{ username }} !<br />
                        Here are your tasks
                    </p>
                    <div id="task_table"></div>
                    <script>get_all_tasks()</script>
                </div>
            </div>
            <div id="right_section">
                <div id="options_section">
                    <p id="option_title" class="section_title">
                        Choose an option
                    </p>
                    <button id="add_task" class="button option_button" onclick="show_page('/add_task_page', 'result_section');document.getElementById('remove_task').disabled = true;">Add task</button>
                    <button id="remove_task" class="button option_button" onclick="delete_task(this)" disabled>Remove task</button>
                    <button id="show_profile" class="button option_button">Show my profile</button>
                </div>
                <div id="result_section"></div>
            </div>
        </div>
        {% endif %}
    </body>
</html>