<!DOCTYPE html>
<html>
    <head>
        <title>EPyTodo</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        <header>
            <div id="header">
                <div>
                    <h1 class="title">EPyTodo - To-do list</h1>
                </div>
                <div>
                    {% if username == None %}
                    <button id="login" class="button" onclick="show_page('login_page')">Log in</button>
                    <button id="signup" class="button" onclick="show_page('signup_page')">Sign up</button>
                    {% else %}
                    <button id="logout" class="button" onclick="signout_user()">Sign out</button>
                    {% endif %}
                </div>
            </div>
            <hr />
        </header>
        {% if username == None %}
        <p class="section_title">
            Welcome to our Epitech's To-do list !<br />
            Here you can add and handle your task as you want.
        </p>
        <div id="content"></div>
        {% else %}
        <div id="content">
            <div id="task_section">
                <p id="welcome_user" class="section_title">
                    Welcome {{ username }} !<br />
                    Here are your tasks
                </p>
            </div>
            <div id="options_section">
                <p id="option_title" class="section_title">
                    Choose an option
                </p>
                <button class="button option_button">Add task</button>
                <button class="button option_button">Remove task</button>
                <button class="button option_button">Show my profile</button>
            </div>
        </div>
        {% endif %}
    </body>
</html>