<form class="form" action="javascript:signin_user(this)">
    <fieldset>
        <legend>Log In</legend>
        <div class="field">
            <label for="username">Username :</label>
            <input type="text" name="username" id="username" size="15" maxlength="10" required/>
        </div>
        <div class="field">
            <label for="password">Password :</label>
            <input type="password" name="password" id="password" size="15" maxlength="10" required/>
        </div>
        <div>
            <input type="submit" name="login" id="submit" value="Log In" class="button" />
        </div>
    </fieldset>
</form>