<form class="form" action="javascript:register_user(this)">
    <fieldset>
        <legend>Register</legend>
        <div class="field">
            <label for="username">Username :</label>
            <input type="text" name="username" id="username" size="15" maxlength="10" required/>
        </div>
        <div class="field">
            <label for="password">Password :</label>
            <input type="password" name="password" id="password" size="15" maxlength="10" required/>
        </div>
        <div class="field">
            <label for="confirm_password">Confirm Password :</label>
            <input type="password" name="confirm_password" id="confirm_password" size="15" maxlength="10" required/>
        </div>
        <div>
            <input type="submit" name="register" id="submit" value="Register" class="button" />
        </div>
    </fieldset>
</form>